<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.net.cyberway">

    <application
        android:name="com.BeeFramework.BeeFrameworkApp"
        android:allowBackup="false"
        android:configChanges="locale"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name_beta"
        android:largeHeap="true"
        android:resizeableActivity="false"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppResultTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:theme,android:label,android:allowBackup">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="cn.net.cyberway.jpush.openactivity" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BrowerJumpExcessiveActivity"
            android:exported="true"
            android:theme="@style/activityTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="web"
                    android:scheme="colourlifeauth" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.popupScreen.activity.PopupActivity"
            android:theme="@style/popupTransparent" />
        <activity
            android:name=".OauthWebviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/activityTheme" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppStartLoad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LeadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.BeeFramework.activity.WebViewActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />

        <!--彩之云扫码-->
        <activity
            android:name="com.scanCode.activity.CaptureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.scanCode.activity.ScanResultActivity"
            android:screenOrientation="portrait" />
        <!--彩之云扫码-->

        <activity
            android:name="com.imagepicker.activity.ReviewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104988970" />
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />



        <!-- 门禁授权-->
        <activity
            android:name="com.setting.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.setting.activity.ChoiceLanguageActivity"
            android:screenOrientation="portrait" />
        <!-- 关于界面 -->
        <activity
            android:name="com.about.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <!-- 反馈页面 -->
        <activity
            android:name="com.about.activity.FeedBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="stateHidden" />

        <!--邀请记录-->
        <activity
            android:name="com.invite.activity.InviteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.invite.activity.InviteRecordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.invite.activity.ContactsActivity"
            android:screenOrientation="portrait" />
        <!--邀请记录-->

        <!--京东支付-->
        <activity
            android:name="com.jdpaysdk.author.AuthorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--jdpauth是固定的后面的数字是appId-->
                <data android:scheme="jdpauth4c36f573025fd6997396e8f387c745d9"></data>
            </intent-filter>
        </activity>

        <activity
            android:name="com.jdpaysdk.author.browser.BrowserActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <!--京东支付-->

        <!--支付宝支付-->
        <activity
            android:name="com.pay.Activity.AlixPayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            tools:replace="android:configChanges"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            tools:replace="android:configChanges"></activity>


        <!-- 用户信息 -->
        <activity
            android:name="com.customerInfo.activity.CustomerInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.customerInfo.activity.CustomerNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.customerInfo.activity.CustomerPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />


        <activity
            android:name="com.customerInfo.activity.CustomerCheckCodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.customerInfo.activity.CustomerMakeZXingActivity"
            android:screenOrientation="portrait" />
        <!-- 用户信息 -->

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1101958589" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.BeeFramework.activity.AdsWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--手势密码相关-->
        <activity
            android:name="com.setting.activity.GesturePwdMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.setting.activity.VerifyLoginPwdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gesturepwd.activity.UnlockGesturePasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gesturepwd.activity.CreateGesturePasswordActivity"
            android:screenOrientation="portrait" />
        <!--手势密码相关-->

        <!--意见反馈-->
        <activity
            android:name="com.about.activity.FeedBackDetailsActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.about.activity.FeedBackListActivity"
            android:screenOrientation="portrait" />
        <!--意见反馈-->
        <!--我的车辆相关-->
        <activity
            android:name="com.myproperty.activity.MyPropertyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.myproperty.activity.NameAuthActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mycarinfo.activity.MyCarInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mycarinfo.activity.AddCarActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.mycarinfo.activity.CarModelActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.mycarinfo.activity.BindFPActivity"
            android:screenOrientation="portrait" />
        <!--我的车辆相关-->

        <!-- 用户支付收银台 -->
        <activity
            android:name="com.cashier.activity.NewOrderPayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cashier.activity.OrderWaitResultActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cashier.activity.OrderPaySuccessActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 用户支付收银台 -->
        <!--支付订单-->
        <activity
            android:name="com.cashier.activity.OrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.cashier.activity.OrderResultAndDetailActivity"
            android:screenOrientation="portrait" />
        <!--支付订单-->

        <activity
            android:name="com.permission.PermissionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />


        <!--微信支付-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/shareDialog" />



        <!--微信小程序-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sdksample" />
            </intent-filter>
        </activity>
        <!--用户注册登录 忘记密码等-->
        <activity
            android:name="com.user.activity.UserRegisterAndLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.user.activity.UserIdentityLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppResultTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.user.activity.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.user.activity.UserThridRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.user.activity.UserSmsCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.user.activity.UserSafetyVerficationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.user.activity.UserForgetPawdPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.user.activity.UserForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--用户注册登录 忘记密码等-->
        <!--消息通知-->
        <activity
            android:name="com.notification.activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.notification.activity.NotificationDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name="com.notification.activity.NotificationAllInfoActivity"></activity>
        <!--消息通知-->

        <!--房产 收货地址-->
        <activity
            android:name="com.customerInfo.activity.CustomerAddPropertyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.customerInfo.activity.DeliveryAddressIncreaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.customerInfo.activity.DeliveryAddressListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--房产-->

        <!--门禁-->
        <!--智能门禁-->
        <activity
            android:name="com.door.activity.IntelligenceDoorActivity"
            android:exported="true"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.door.activity.IntelligenceDoorRecordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.door.activity.NewDoorEditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.door.activity.NewDoorOpenRecordActivity"
            android:screenOrientation="portrait" />
        <!--门禁-->

        <activity
            android:name="com.door.activity.NoRightDoorActivity"
            android:screenOrientation="portrait" />


        <!--账号部分-->

        <activity
            android:name="com.setting.activity.UserAccountSaftyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.setting.activity.UserConcealActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.setting.activity.UserClearCacheActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--账号部分-->

        <!--IM模块 添加好友 聊天等-->
        <activity
            android:name="com.im.activity.IMAddFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMApplyFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMCreateCommunityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMCustomerInforActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMFriendAndGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMFriendInforActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMGroupListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMInviteRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name="com.im.activity.IMMobileBookActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMModifyGroupNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMNearCommunityPersonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMSearchAllActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMSearchConditionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMApplyFriendRecordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMCreateGroupChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMUploadPhoneBook"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMApplyFriendInforActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMUserSelfInforActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMCommunityListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.im.activity.IMApplyProgressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--IM模块 添加好友 聊天等-->

        <activity
            android:name=".home.activity.BannerVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.eparking.view.cardcamera.camera.CameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <!--e停车原生-->

        <activity
            android:name="com.allapp.activity.WholeApplicationActivity"
            android:screenOrientation="portrait" />
        <!--七牛云音视频-->
        <activity
            android:name="com.audio.activity.RoomActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!--七牛云音视频-->

        <activity
            android:name="com.customerInfo.activity.CustomerColourBeanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.customerInfo.activity.CustomerBeanMoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.myproperty.activity.PropertyQuestionActivity"
            android:screenOrientation="portrait" />
        <!--邀请好友-->
        <activity
            android:name="com.invite.activity.InviteFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.invite.activity.InviteDetailPoster"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.invite.activity.InviteListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <!--邀请好友-->
        <!--房产相关-->
        <activity
            android:name="com.myproperty.activity.PropertyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myproperty.activity.PropertyChangeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.myproperty.activity.PropertyRealNameActivity"
            android:screenOrientation="portrait" />
        <!--房产相关-->

        <!--授权管理-->
        <activity
            android:name="com.setting.activity.AuthManegeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.setting.activity.AuthManegeDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--授权管理-->

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!--网页加载-->

        <activity
            android:name="com.agentweb.ActionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:theme="@style/actionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <!--网页加载-->

        <!--创蓝一键登录-->

        <activity
            android:name="com.sdk.mobile.manager.login.cucc.OauthActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.chuanglan.shanyan_sdk.view.ShanYanOneKeyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CTCCPrivacyProtocolActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!--创蓝一键登录-->

        <!--门禁授权和申请批复-->
        <activity
            android:name="com.door.activity.NewDoorAuthorizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.door.activity.NewDoorApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.door.activity.NewDoorRenewalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.door.activity.NewDoorApplyRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.door.activity.NewDoorIndetifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.door.activity.NewDoorAuthorizePassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.door.activity.NewDoorAuthorizeCancelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.door.activity.NewDoorAuthorizeAuditActivity"
            android:screenOrientation="portrait" />


        <!--门禁授权和申请批复-->

        <!--新钱包 积分-->
        <activity
            android:name="com.point.activity.ChangePawdStyleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.point.activity.ChangePawdOneStepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.point.activity.ChangePawdTwoStepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.point.activity.ChangePawdThreeStepActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.point.activity.ForgetPayPawdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.point.activity.GivenPointAmountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.point.activity.GivenPointMobileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.point.activity.GivenPointResultActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.point.activity.GivenPointHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.point.activity.MyPointActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.point.activity.PointTransactionDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.point.activity.PointTransactionListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.point.activity.ReturnPointPlanActivity"
            android:screenOrientation="portrait" />

        <!--新钱包 积分-->

        <!--实名认证信息修改-->

        <activity
            android:name="com.realaudit.activity.RealNameInforActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.realaudit.activity.RealOriginUploadActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.realaudit.activity.RealNewUploadActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.realaudit.activity.RealCheckResultActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.realaudit.activity.RealCheckWaitingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.realaudit.activity.RealCommonSubmitActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" />

        <!--实名认证信息修改-->

        <!--社区邻里-->
        <activity
            android:name="com.community.activity.DynamicNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.community.activity.CommunityMessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.community.activity.DynamicsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.community.activity.PublishDynamicsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.activity.ImagesDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!--社区邻里-->




        <!--极光推送-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="true"
            android:theme="@style/MyDialogStyle"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PopWinActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:node="replace">
            <intent-filter>

                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            tools:replace="android:value"
            android:value="B0433f7d882de0c20433e36fabe2269c" />


        <!--极光推送-->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />


        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="85850e81bcaba45af4f4b6a6" />

        <!--高德sdk-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="bdb104e98dfa7e816b40c4148ea7b938"
            tools:replace="android:value" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.net.cyberway.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"
                tools:replace="resource" />
        </provider>


        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="cn.net.cyberway.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true"></provider>

        <receiver
            android:name="com.pay.Activity.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.jpush.reciever.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="cn.net.cyberway" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />


        <!--门禁的改造-->
        <service android:name="com.BeeFramework.InitializeService" />


        <!--极光推送配置-->
        <!-- 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 修改成 true 覆盖 jcenter 上的组件。 -->
        <service android:name="com.update.service.UpdateService" />

        <!-- 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 修改成 true 覆盖 jcenter 上的组件。 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name="com.intelspace.library.service.BleService"
            android:exported="false" />

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <service android:name="cn.net.cyberway.home.service.LekaiService" />


        <service
            android:name="com.jpush.reciever.MyJPushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!--极光推送-->


    </application>


    <permission
        android:name="cn.net.cyberway.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="cn.net.cyberway.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="cn.net.cyberway.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 需要获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取设备唯一标识 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 获取访问用户账户名的权限用以精准匹配标签(可选) -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 读取短信和接收短信 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 桌面快捷方式权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!--乐开-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--bugly 阅读日志权限-->
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS" />

    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGE" />

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="cn.net.cyberway.permission.MIPUSH_RECEIVE" />


    <uses-sdk tools:overrideLibrary="com.intelspace.library" />

</manifest>